<nav>
<label for="filterBy"> Filtrar por:</label>
<select name="select-filter" id="Filter">
    <option value="Drama">Drama</option>
    <option value="Terror">Terror</option>
    <option value="Comedia">Comedia</option>
    <option value="Ficción">Ficción</option>
</select>

<label for="orderBy"> Ordenar por:</label>
<select name="select-order" id="Order"> 
    <option value="A-Z">A-Z</option>
    <option value="Z-A">Z-A</option>
</select>

<button data-testid="button-clear" id="button-clear">Limpiar</button>
</nav>