/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
  }

body{
  background-image: url(assets/_20c16ac1-5025-45eb-a2f0-819f20f53b8a.jpeg);
  background-size: cover;
  
}